body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  background-color: #f2f2f2;
  width: 100%;
  font-size: 1.4rem;
}


#title {
  padding: 20px;
  text-align: center;
  background-color: #a6e0e9;
  font-size: 3rem;
}

.btn {
  font-size: 1.4rem;
}
#mainTable {
    margin-top: 20px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #fdda54;
}
